<div class="navbar navbar-default navbar-top navbar-primary" role="navigation">
    <div class="container no-padding">
        <div class="navbar-header">
            Taxi Compnay
        </div>
        <div class=" navbar-collapse">
            <ul class="nav navbar-nav">
                {{#link-to 'schedules' }}
                    Schedules
                {{/link-to}}
                </ul>
            <ul class="nav navbar-nav">
                {{#link-to 'drivers'}}
                    Drivers
                {{/link-to}}
                </ul>
            <ul class="nav navbar-nav">
                {{#link-to 'vehicles'}}
                    Vehicles
                {{/link-to}}
            </ul>
        </div>
    </div>
</div>