body {
    background-color: #DAA520;
    height: 100%;
}

.no-padding {
    padding: 0;
}

.navbar-header {
    float: right;
}

.navbar-collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
    visibility: visible !important;
}

.navbar-nav {
    float: left;
    margin: 25px;
}

.navbar-nav > li {
    float: left;
}

.navbar-nav > li > a {
    padding: 15px;
}

.navbar {
    margin-bottom: 0;
    border-radius: 0;
    border: none;
    /*font-family: 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;*/
}

.navbar-default {
    background-color: #fff;
    border-bottom: 1px solid #e7e7e7;
    z-index: 10;
}

.navbar-primary {
    height: 72px;
    margin-left: auto;
    margin-right: auto;
    width: 1380px !important;
}

.navbar-primary .nav > li > a {
    padding: 26px 15px;
}

.table > thead > tr > th {
    border-bottom-width: 1px;
    font-weight: 100;
}

.table > thead {
    font-size: 0.8em;
    text-transform: uppercase;

}

.table-high > thead > tr > th,
.table-high > tbody > tr > th,
.table-high > tfoot > tr > th,
.table-high > thead > tr > td,
.table-high > tbody > tr > td,
.table-high > tfoot > tr > td {
    padding-top: 10px;
    padding-bottom: 10px;
}

.button {
    background-color: #000000; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.row {
    display: inline-block;
}

.center {
    margin: auto;
    width: 50%;

    padding: 10px;
}