body {
    background-color: #DAA520;
    height: 100%;
    font-family: fantasy;
}

.no-padding {
    padding: 0;
}

.navbar-header {
    float: right;
    padding-top: 20px;
    font-size: 20px;
    padding-right: 10px;
}

.navbar-collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
    visibility: visible !important;
}

.navbar-nav {
    float: left;
    margin: 25px;
}

.navbar-nav > li {
    float: left;
}

.navbar-nav > li > a {
    padding: 15px;
}

.navbar {
    margin-bottom: 0;
    border-radius: 0;
    border: none;

}

.navbar-default {
    background-color: #000000;
    z-index: 10;
    color: #F0FFFF;
}

.navbar-primary {
    height: 72px;
    margin-left: auto;
    margin-right: auto;
    width: 1380px !important;
}

.navbar-primary .nav > li > a {
    padding: 26px 15px;
}

table {
    background-color: #000000;
    color: #ffffff;
    width: 100%;
    border-collapse: collapse;

}

table, th, td {
    border: 2px solid #ffffff;

}

th {
    height: 50px;
}
td{
    text-align: left;
}

.button {
    background-color: #000000;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    position: relative;
}

.row {
    display: inline-block;
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}
