
<div class="center">
    {{#link-to 'drivers'}}
        <div class="button">Back</div>
    {{/link-to}}
    <div class="button"  {{action "update" }}>Save</div>
</div>

<div class="center">


    <div class="row col-md-6">

        <div class="form-group ">
            <label>First Name</label>
            {{input value=driver.first_name type='text' class='form-control'  }}

        </div>
    </div>
    <div class="row col-md-6">
        <div class="form-group ">
            <label>Last Name</label>
            {{input value=driver.last_name type='text' class='form-control'  }}

        </div>
    </div>
    <div class="row col-md-6">
        <div class="form-group ">
            <label>License Number</label>
            {{input value=driver.license_number type='text'}}
        </div>
    </div>


</div>