{{nav-bar}}

<div class="center">
    {{#link-to 'drivers/add'}}
        <div class="button">Add Driver</div>
    {{/link-to}}
</div>
<div class="'center">
    <table>
        <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>License</th>
        </tr>
        </thead>
        <tbody>
        {{#each driver in model}}
            {{#link-to 'drivers/view' driver.id tagName='tr' class='list-link'}}

                <td>
                    {{driver.first_name}}
                </td>
                <td>
                    {{driver.last_name}}
                </td>
                <td>
                    {{driver.license_number}}
                </td>

            {{/link-to}}
        {{/each}}
        </tbody>
    </table>
</div>

