{{nav-bar}}
<div class="table">
    <thead>
    <tr>
        <th class="col-xs-4">Driver Name</th>
    </tr>
    </thead>
    <tbody>
    <td>
        {{#each schedule in model}}
            {{schedule.driver_name}}
        {{/each}}
    </td>
    </tbody>
</div>