{{nav-bar}}
<div class="center">
    {{#link-to 'vehicles/add'}}
        <div class="button">Add Vehicle</div>
    {{/link-to}}

</div>
<div class="'center">
    <table>
        <thead>
        <tr>
            <th>Plate Number</th>
            <th>Make</th>
            <th>Model</th>
        </tr>
        </thead>
        <tbody>
        {{#each vehicle in model}}
            {{#link-to 'vehicles/view' vehicle.id tagName='tr' class='list-link'}}
                <td>
                    {{vehicle.plate_number}}
                </td>
                <td>
                    {{vehicle.make}}
                </td>
                <td>
                    {{vehicle.model}}
                </td>
            {{/link-to}}
        {{/each}}
        </tbody>
    </table>
</div>
